//@theme "~/.config/rofi/Glass.rasi"
@theme "~/.config/rofi/Black.rasi"

// just put the Glass.rasi file in your usr/share/rofi/themes directory 
// or change the location here

// NO NEED, this will point to the .config/rofi directory, much better this way
